.createRaffleForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    text-align: left;
}

.iconLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.disappear {
    color: darkgreen;
    animation-name: hide;
    animation-duration: 16s;
}

@keyframes hide {
    from { opacity: 1; }
    to { opacity: 0; }
}